main {
    margin-top: 30px;
    // margin-left: 410px;
}
.event-container {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1.2fr 1.2fr 0.6fr;
    grid-auto-columns: 1fr;
    gap: 0px 6px;
    grid-auto-flow: row;
    grid-template-areas:
      "image info"
      "about ."
      "map map";
    width: 95%;
    height: 100%;
    margin: auto;

    .event-image { 
        grid-area: image; 
        img {
            width: 600px;
            height: 400px;
            object-fit: cover;
            margin: 0;
        }
        .event-date {
            position: relative;
            bottom: 30px;
            left: 50px;
            padding: 5px 15px;
            margin: 0;
            background-color: white;
            font-size: 12px;
            border-radius: 5px 5px 0 0;
            text-align: center;
            font-weight: 600;
          }

    }

    .event-info { 
        grid-area: info; 
        padding-left: 60px;
    }

    .event-about { 
        grid-area: about;

        .event-description p {
            line-height: 300%;
        }
    }

    .event-Map { 
        grid-area: map;
        border: 1px solid rgb(129, 125, 125);
        background-color: rgb(153, 158, 160);
        
        p{
          position: relative;
          top:40%;
          left: 33%;
        }  
    }
    
    h5 {
        margin-bottom: 2px;
    }
    p {
        font-size: 12px;
    }
    br {
        margin: 0;
    }
    a {
        color: black;
        font-size: 12px;
    }
    
    .dates, 
    .location,
    .price,
    .contact-i {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 6px;
        border-top: 1px solid black;

    }
    .contact-i {
      border-bottom: 1px solid black;  
    }
}
  
  
  