.card-container {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 40%;
  //height: 250px;//single
  height: 280px;//grid
  // width: 250px;//single
  width: 150px; //grid
  border-radius: 12px;
  margin: 5px 10px;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;//we can remove this if we prefer
  
  span {
    padding: 0;
    box-shadow: inset 0 -5px 0 0 #A89CFB;
  }
  .image-container {
    display: block;
    height: 130px;
  }

  .event-img {
    height: 129px;
    //width: 249px; //single
    width: 149px; //grid
    object-fit: cover;
    border-radius: 5px;
  }

  .event-date {
    position: absolute;
    top: 110px;
    left: 50px; //single
    right: 50px;// single
    left: 20px; //grid
    right: 20px;// grid
    padding: 5px 15px;
    margin: 0;
    background-color: white;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    text-align: center;
  }

  .card-text {
    //padding: 8px; //or 5px 0; if we decide to remove box-shadow
    padding: 5px; //grid
    .card-title {
      //height: 30px;//single
      height: 40px; //grid
    }
    h5 {
      margin: 0;
      padding-top: 10px;
      font-size: 11px; //grid
    }
    .card-summary {
      //height: 30px;// single
      height: 50px;
    }
    p {
    //font-size: 12px;//single
    font-size: 11px;//grid
    margin: 0;
    height: 30px;
    }
  }

  .card-footer {
    position: absolute;
    bottom: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    //padding: 8px;//singĺe
    padding-right: 5px; //grid
    .card-category {
      width: 120px;
      height: 15px;
    }
    p {
      //font-size: 12px;//single
      font-size: 10px;//grid
      width: min-content;
      text-transform: uppercase;
    }
    button {
      border-radius: 50%;
      border: none;
      padding: 8px 5px;
      margin-left: 10px;//grid
      background-color: #c9c5fc;
      font-size: 10px;
    }
    button:active {
        background-color: #A79FFB;
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        /* Lowering the shadow */
    }
  }
}

@media (min-width: 1281px) {
  .card-container {
      position: relative;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 40.34%;
      height: 350px;
      width: 230px;
      left: 0px;
      top: 0px;
      border-radius: 12px;
      margin: 30px 9px 5px 20px;
      display: block;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;//we can remove this if we prefer
      
      span {
        padding: 0;
        box-shadow: inset 0 -5px 0 0 #A89CFB;
      }
      .image-container {
        display: block;
        height: 170px;
      }
    
      .event-img {
        height: 170px;
        width: 230px;
        object-fit: cover;
        border-radius: 5px;
      }
    
      .event-date {
        position: absolute;
        top: 150px;
        left: 50px;
        right: 50px;
        padding: 5px 15px;
        margin: 0;
        background-color: white;
        font-size: 11px;
        text-transform: uppercase;
        border-radius: 5px 5px 0 0;
        text-align: center;
      }
    
      .card-text {
        padding: 8px; //or 5px 0; if we decide to remove box-shadow
        .card-title {
          height: 30px;
        }
        h5 {
          margin-top: 15px;
          margin-bottom: 10px;
        }
        .card-summary {
          height: 40px;
        }
        p {
        font-size: 12px;
        }
      }
    
      .card-footer {
        position: relative;
        bottom: 5px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        padding: 8px;
        
        .card-category {
          width: 120px;
        }
        p {
          font-size: 12px;
          width: min-content;
          text-transform: uppercase;
        }
        button {
          border-radius: 50%;
          border: none;
          padding: 8px 5px;
          background-color: #c9c5fc;
          font-size: 10px;
        }
        button:active {
            background-color: #A79FFB;
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }
      }
  }
}

  